@font-face {
    font-family: monocraft;
    src: url("/fonts/Monocraft.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: cod;
    src: url("/fonts/ModernWarfare-font.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: doodle;
    src: url("/fonts/RubikDoodleShadow-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}