@font-face {
    font-family: monocraft;
    src: url("/fonts/Monocraft.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: cod;
    src: url("/fonts/ModernWarfare-font.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: doodle;
    src: url("/fonts/RubikDoodleShadow-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.fade-in-top {
    @apply delay-500;
    opacity: 0;
    transform: translateY(25px);
    transition: transform 500ms cubic-bezier(0,0,0.5,1), opacity 500ms cubic-bezier(0,0,0.5,1), visibility 500ms cubic-bezier(0,0,0.5,1);
}

.faded-in-top {
    @apply opacity-100 translate-y-0;
}