---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/navbar.svelte";
import Footer from "../components/footer.svelte";
import BackgroundGrid from "../components/backgroundGrid.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <NavBar client:load />
    <!-- <div class="snap-mandatory snap-y h-screen overflow-y-scroll"> -->

    <div class="relative w-screen max-h-no-nav h-full">
      <div class="max-h-full overflow-hidden max-w-full absolute">
        <BackgroundGrid client:load />
      </div>

      <!-- <div class="overflow-y-scroll max-h-no-nav h-full"> -->
        <div class="absolute max-h-no-nav overflow-y-scroll h-screen w-full snap-mandatory snap-y">
          <!-- <div class=""> -->
          <div class="section max-h-no-nav"></div>
          <div class="section max-h-no-nav"></div>
          <div class="section max-h-no-nav"></div>
          <!-- </div> -->
        </div>
      <!-- </div> -->
    </div>

    <Footer client:load />

    <style>
      .section {
        scroll-snap-align: start;

        @apply px-5 flex h-full pt-[var(--navbar-height)] flex-col items-start sm:px-10 lg:px-20;
      }

      .img-section {
        @apply flex w-full flex-col items-start rounded-lg md:flex-row md:items-center;
      }

      .break-elements-onwrap {
        @apply flex flex-wrap gap-2 break-keep sm:inline;
      }

      .title-text {
        @apply hover-underline my-10 text-6xl font-semibold;
      }

      .name-gradient {
        @apply bg-gradient-to-br from-pink-600 to-yellow-500 bg-clip-text text-transparent;
      }

      .hover-underline {
        /* display: inline-block; */
        background-image: linear-gradient(90deg, rgb(253, 100, 49), orange);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;

        transition: background-size 400ms ease;
      }

      @media screen(sm) {
        .hover-underline:hover {
          background-size: 100% 3px;
        }
      }
    </style>
  </body>
</html>
