---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/navbar.svelte";
import Footer from "../components/footer.astro";
import BackgroundGrid from "../components/backgroundGrid.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Ping from "../components/ping.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <script>
      function scrollAnimations() {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              const animationClass = entry.target.dataset.enter;
              if (entry.isIntersecting) {
                entry.target.classList.add(animationClass);
              } else {
                entry.target.classList.remove(animationClass);
              }
            });
          },
          { threshold: 0.35 },
        );

        const targetElements = document.querySelectorAll("[data-enter]");
        targetElements.forEach((elem) => observer.observe(elem));
      }

      scrollAnimations();

      // This line is needed so the animations work after navigating back to the page
      document.addEventListener("astro:after-swap", scrollAnimations);
    </script>
  </head>
  <body>
    <NavBar client:load />

    <div class="relative flex flex-col min-h-[var(--max-h)] h-full">
      <BackgroundGrid client:load />

      <section
        class="absolute fade-in-top items-center text-center"
        data-enter="faded-in-top"
      >
        <div class="mt-36">
          <h1 class="font-monocraft text-center title-text name-gradient !my-4">
            Rashaad is the name
          </h1>
          <h2 class="text-lg sm:text-2xl font-monocraft mx-10 text-balance">
            May or may not be known as <span
              class="font-doodle text-green-500 hover-underline"
              >Slim Shady</span
            >
             or <span class="font-doodle hover-underline text-green-500"
              >Batman</span
            >
          </h2>
        </div>
      </section>
    </div>

    <Footer />
    <style>
      section {
        @apply flex flex-col w-full pt-8
               px-5 sm:px-10 lg:px-20 min-h-[var(--max-h)];
      }
      .title-text {
        @apply my-10 text-3xl sm:text-4xl font-semibold;
      }

      .name-gradient {
        @apply bg-gradient-to-br from-green-400 to-emerald-600 via-green-600  bg-clip-text text-transparent;
      }

      .hover-underline {
        --underline-width: 4px;

        background-image: linear-gradient(
          90deg,
          theme("colors.green.600"),
          green
        );
        background-size: 0% var(--underline-width);
        background-repeat: no-repeat;
        background-position: left bottom;

        transition: background-size 400ms ease;
      }

      @media screen(sm) {
        .hover-underline:hover {
          background-size: 100% var(--underline-width);
        }
      }
    </style>
  </body>
</html>
